<!DOCTYPE html>
<html>

<head>
	<%- include ("../partials/letraheader.ejs") %>
	<title>WhisperLyrics</title>
	<meta name="description" content="Discover the latest music releases with accurate lyrics, automatically transcribed using AI technology. Stay up-to-date with the latest hits and sing along with confidence.">
	<meta name="keywords" content="lyrics, video, meaning, artist, song lyrics, new music releases, ai transcription, music transcription service, lyrics database, lyrics search engine, lyrics finder, latest music lyrics, instant lyrics, karaoke">
	<meta name="robots" content="index, follow">
</head>

<body class="bg-black">
	<%- include ("../partials/letranav.ejs") %>
  <!--<script src="/scripts/script.js" defer></script>-->

	<div class="gradient"></div>	
	<div class="flex justify-center px-6">
		<div class="max-w-4xl flex-grow mt-10">
			<h2 class="letratxt text-2xl mb-4">Latest</h2>
			
			<% data.items.forEach(function(item) { %>
				<div class="card flex items-center border rounded-lg mb-2">
					<a href="https://nolkd-trest.beamcomservices.repl.co/letra/<%=item.trackid%>">
						<img src=<%=item.art%> class="card rounded m-2 mr-4" width="100" height="100">
					</a>
					<div class="py-4">
						<div class="text-2xl font-bold"><%=item.albumname%> (Full letra)</div>
						<div class="flex letratxt items-center">
							<h3 class="text-sm pr-2"><%=item.artistname%></h3>|
							<h3 class="text-sm px-2"><%=item.trackdrop%></h3>
						</div>
					</div>
				</div>
			<% }); %>
				
		</div>
	</div>
</body>
	
</html>